.App {
  font-family: sans-serif;
  text-align: justify;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  background-image: url(https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg);
  background-size: "cover";
  background-repeat: no-repeat;
  background-position: -5vh;
  background-blend-mode: multiply;
  background-color: grey;
}

h1 {
  color: orangered;
}

p {
  color: orangered;
}

#click {
  padding: 0.7rem;
  border-radius: 1rem;
  font-size: 17px;
  font-weight: bolder;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.lineBreak {
  margin: 1rem 0rem;
}

#boxOffice {
  padding: 1rem;
  width: 70%;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 2px solid orange;
  font-size: large;
  color: orangered;
}

#list {
  padding-inline-start: 0px;
}

#rating {
  font-size: small;
  font-weight: bolder;
}
