.App {
  font-family: sans-serif;
  text-align: justify;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

#click {
  padding: 0.7rem;
  border-radius: 1rem;
  font-size: 17px;
  font-weight: bolder;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.lineBreak {
  margin: 1rem 0rem;
}

#boxOffice {
  padding: 1rem;
  width: 70%;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

#list {
  padding-inline-start: 0px;
}

#rating {
  font-size: small;
}
